[2021-04-11 10:58] kevthehermit opened #1 "NPM Depends Errors & RuntimeWarning: Mean of empty slice."
Using `Ubuntu 20.04.2 LTS` on AWS

`Linux ip-172-31-9-167 5.4.0-1038-aws #40-Ubuntu SMP Fri Feb 5 23:50:40 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

Running `./init.sh -n` to use a global install.

there are a lot of NPM errors during the installation

[code]

And then trying to run the example test

[code]

[2021-04-11 11:16] kevthehermit opened #2 "Dockerfile doesn't build correctly"
There are several issues when trying to build the included Dockerfile the output below is taken from a single `docker build` but has been truncated to only show the errors happy to include the full output if it will help.

- `Ubuntu 20.04.2 LTS`
- `Linux ip-172-31-9-167 5.4.0-1038-aws #40-Ubuntu SMP Fri Feb 5 23:50:40 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- `Docker version 19.03.8, build afacb8

[2021-04-11 13:50] kevthehermit opened #3 "requirements.dev.txt"
The `requirements.dev.txt` has the wrong format for pip install

https://github.com/microsoft/CyberBattleSim/blob/3f8380f9cbc461d48032d7d810f482edc02e4626/requirements.dev.txt#L9

which causes

[code]

I think this should be `torch==1.5.1`

[2021-04-11 14:15] kevthehermit opened #4 "Error Running Notebooks `NetworkXError: random_state_index is incorrect`"
This applies to several notebooks but using `randomnetwork.ipynb` as the example

Running the first two cells results in a couple of errors.

Cell contents

[code]
Ouptut from Cell

[code]

[2021-04-11 15:22] azom123 commented on #4
Hhhhfddj

[2021-04-11 19:27] br0kej commented on #4
I'm running into the same issue with several of the examples too and I think I may have found the problem. By default using the `init.sh` script provided, the version of the `decorator` package installed is `5.0.6` - This version seeks to fix a number of issues introduced in `5.0.*` versions up to `5.0.5` which started breaking things in Networkx (See [Networkx Issue #4718](https://github.com/netw

[2021-04-12 08:47] kevthehermit commented on #4
Thanks, @br0kej confirming that fixed the issue for me.

[2021-04-14 09:40] BruceFeiFei opened #6 "torch cuda=false"
When I use this command：‘python cyberbattle/agents/baseline/run.py --training_episode_count 1 --eval_episode_count 1 --iteration_count 10 --rewardplot_with 80  --chain_size=20 --ownership_goal 1.0’

I actually get the result. It shows the number of 'explore-local', 'explore-remote' and so on. Only difference is that it shows that torch cuda avaliable=False. Is that neccessary? Will it lead to some

[2021-04-15 11:23] kevthehermit commented on #6
If it is reporting `False` it would suggest your not running on a Cuda enabled GPU so you may see some degraded performance from the "AI" and gym features, it should not prevent anything from running it just will not run at its best.

[2021-04-15 20:49] HumanG33k commented on #6
It's really a shame that people (like Microsoft) not use vendor independant framework. It will be less work for everybody.

[2021-04-17 16:09] bwanaaa opened #8 "install in WSL fails due to missing dependency"
virgin WSL w ubuntu 20.04 LTS

init.sh gives

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
launchpadlib 1.10.13 requires testresources, which is not installed.

[2021-04-22 03:53] Iceymann18777 opened #9 "Instal"
Need to download

[2021-04-30 18:25] #6 closed

[2021-04-30 18:30] blumu commented on #4
@br0kej @kevthehermit  Thank you both for reporting the issue and suggesting the fix. I see there is already a PR with a fix, I'll get it merged soon!

[2021-04-30 23:05] blumu commented on #8
@bwanaaa  Could you share the full stdout/stderr output?

[2021-05-01 04:12] Iceymann18777 opened #10 "Command btc coins into my wallet"

[2021-05-01 05:00] #10 closed

[2021-05-01 05:01] #9 closed

[2021-05-01 05:01] blumu commented on #9
Issue is missing proper description

[2021-05-01 05:04] blumu commented on #2
@kevthehermit Should be fixed by #11

[2021-05-01 05:04] #2 closed

[2021-05-01 05:10] blumu commented on #1
@kevthehermit I could not repro but with #11 npm got upgraded to version 16 so I wonder if it fixes your problem? Also now that `docker build` is fixed you might have better luck running it directly within a docker container.

[2021-05-11 19:04] scsarver opened #12 "The instructions are incomplete or the project dependencies are not correct."
Branch: master

Expected the following to produce output indicating the project is running:

docker build -t cyberbattle:1.1 .
docker run -it -v "$(pwd)":/source --rm cyberbattle:1.1 cyberbattle/agents/baseline/run.py

Resulted in:

Traceback (most recent call last):
  File "cyberbattle/agents/baseline/run.py", line 16, in <module>
    import torch
ModuleNotFoundError: No module named 'torch'

[2021-05-12 05:02] citharus commented on #12
You have to install the requirements.
`pip install -r requirements.txt`

[2021-05-12 20:36] scsarver commented on #12
I have added both of the following statements to the Dockerfile and it still fails in the same spot:

[2021-05-15 20:27] citharus commented on #12
Then try installing `torch` manually.
`pip install -U torch`

PS.: When doing a code block use `\`\`\`` at the start and end.

[2021-05-17 16:04] scsarver commented on #12
Update the docker file to have the following:
[code]

it fails when running it with the following error:
[code]

[2021-05-17 16:36] scsarver commented on #12
UPDATE: Updating the Docker file to include the following got me to a point where it would run:
[code]

To build and run it in docker I run teh following:

[2021-05-19 11:06] citharus commented on #12
Please close the issue if there is no problem any more.

[2021-05-19 21:14] scsarver commented on #12
Is it fixed?

[2021-06-04 00:35] jonabox opened #14 "Cannot run c2_interactive_interface.ipynb"
When running the second code block of notebooks/c2_interactive_interface.ipynb, I am getting the following traceback:

[code]

I was able to fix this by adding some sample identifiers:

[code]

However, when I run the code block: "outcome = c.run_attack(starting_node, 'RecentlyAccessedMachines')"

I am getting the following traceback:
[code]
And now I'm not so sure how to fix this

[2021-06-11 00:49] jonabox opened #15 "push failing; ".samples.toyctf" could not be resolved"
I'm trying to push some changes to make a pull request but I'm getting many errors when running git push:

[code]

Wonder what's going on...

[2021-06-15 18:02] blumu commented on #15
I think the pyright errors are caused by the python environment you are running under. Try first activating the python environment under the `venv` subdirectory and then run `git push`. This will make sure pyright uses the correct version of python and package dependencies.

[2021-06-15 18:17] blumu commented on #14
@jonabox This notebook bug was fixed in branch `wiblum/pyright`. I'll send a PR shortly.

[2021-06-15 18:21] blumu commented on #1
@kevthehermit  Closing the issue for now. Feel free to reopen if PR #11 did not resolve the issue.

[2021-06-15 18:21] #1 closed

[2021-06-15 18:24] #14 closed

[2021-06-15 18:30] blumu commented on #15
@jonabox Also, if you are just pushing unfinished changes to Github and don't want to run the pyright pre-validation checks you can use the `--no-verify` switch: `git push --no-verify`.

[2021-06-15 19:16] blumu commented on #12
@scsarver I was not able to repro on latest `main` branch, does it still repro for you? All the missing packages that you are listing (torch, asciichart asciichartpy ipython, pandas) are declared in the `requirements.dev.txt` file and get installed by `install-pythongpackages.sh` at https://github.com/microsoft/CyberBattleSim/blob/43a9108d83803ffbc3818b02fa13d9c613c79da8/install-pythonpackages.sh#

[2021-06-21 09:17] jaromiru opened #17 "Can't run the example code"
After installed, I ran the following:

[code]

[2021-06-21 09:23] jaromiru commented on #17
I wonder if there's a typo here (`self._np_random` instead of `self.np_random`):

https://github.com/microsoft/CyberBattleSim/blob/43a9108d83803ffbc3818b02fa13d9c613c79da8/cyberbattle/_env/discriminatedunion.py#L34

[2021-06-22 09:48] jaromiru opened #18 "The repeated discovery of the same node via different methods leads to reward"
I noticed by generating a random `CyberBattleRandom-v0` environment and using the agent with random actions, that if the same node is discovered with different methods (e.g., traceroute / shared files) it leads to a repeated reward.

It seems as incorrect behaviour, because this way the agent is incentivized to repeatedly discover the same nodes with different actions.

[2021-06-22 16:25] blumu commented on #17
@jaromiru I remember hitting this bug when upgrading OpenAI gym. What version of the gym package to you have installed on your machine?

[2021-06-22 19:12] jaromiru commented on #17
Hm, I checked and the error is present with gym `0.17.1`. I upgraded to `0.17.3` (as properly declared in the requirements.txt) and the error goes away.

[2021-06-22 19:12] #17 closed

[2021-06-22 20:47] blumu commented on #12
@scsarver I am closing this issue for now. Please feel free to reopen if you can confirm it reproes on the latest `main`. Many thanks.

[2021-06-22 20:47] #12 closed

[2021-06-22 20:51] blumu commented on #8
@bwanaaa Closing the issue for now. A few setup issues were resolved recently. If you still hit this issue on the latest version of the `main` branch please feel free to reopen and share the logs of `init.sh`. Thank you!

[2021-06-22 20:51] #8 closed

[2021-06-22 20:55] blumu commented on #15
@jonabox  Closing this issue: I noticed that with the newest version of pyright some new typing errors were reported. With #22 I upgraded and pinned the version of `pyright` to avoid future regression caused by pyright. I also fixed all the new typing errors.

[2021-06-22 20:55] #15 closed

[2021-06-22 21:55] blumu commented on #18
@jaromiru That's indeed the current behaviour. We currently only prevent repeated reward when the same attack action is used to discover the node:
https://github.com/microsoft/CyberBattleSim/blob/56fdb676c452bf15b2bf709436c2eabed5a3830e/cyberbattle/simulation/actions.py#L317

We could address this by returning a reward of 0 if all the nodes revealed by the attack are all already discovered by the

[2021-06-23 08:51] jaromiru commented on #18
Ok, let's take a step back. In my opinion, the reward should be based on the _results_, not on whether an attack was successful or not. The network itself can change (you allow it explicitly e.g., in ExternalRandomEvents DefenderAgent), so the same attack can actually result in different results over time.

In the case of discovered nodes, the reward should also be additive, i.e. the total reward

[2021-06-23 10:26] jaromiru opened #23 "environment_generation.py not working properly"
Environment instantiated with `create_random_environment()` from `environment_generation.py` is not working properly.

Minimal code:
[code]

Exception:
[code]

I have traced the error to this `potential_linux_vulns`:
[code]
The precondition is translated into `AND(FALSE, NOT(FALSE))` which fails to be simplified with the `boolean` library.
The used workaround in `actions.py` (from https://github.c

[2021-06-23 10:28] jaromiru commented on #23
Temporarily fixed by replacing
https://github.com/microsoft/CyberBattleSim/blob/56fdb676c452bf15b2bf709436c2eabed5a3830e/cyberbattle/simulation/environment_generation.py#L113
with
[code]

[2021-06-23 10:39] jaromiru opened #24 "More realistic random domain generation required"
The static toy environments are not suitable for training an agent for generalization. The chainpattern is solvable with a trivial strategy, which is not enough to demonstrate that a certain method is good enough.

The random environment in `cyberbattle.simulation.generate_network` is not realistic enough. In a random network of 50 nodes, only 1 or 2 are actually hackable.

The random environment

[2021-06-24 00:27] blumu commented on #23
@jaromiru I cannot repro. Could you confirm which version of `boolean.py` you have installed?
Here is what I have:
[code]

Repro:
[code]
Output:
[code]

[2021-06-24 00:33] blumu commented on #18
@jaromiru Good points. Alternatively we could also have the environment assign a 'discovery value' to every node in addition to their intrinsic value, and use that instead of a fixed reward when the node gets discovered the first time.

[2021-06-24 10:11] jaromiru commented on #18
I thought more about giving a fraction of the intrinsic reward for a discovery. It leaks some information, true, but that is not necessarily a bad thing. It will point the agent in the direction of high value targets. And compared to the 'discovery value' - one less parameter to worry about. So, for a game-like environment, as this is, it seems allright.

[2021-06-24 10:26] jaromiru commented on #23
That's weird. I have `boolean.py==3.8`. The error is present. When I fix it with the fix above, the output looks like:
[code]

Not an empty DataFrame.

Are you sure the import `from cyberbattle.simulation.environment_generation import create_random_environment` is importing from your `~/CyberBattleSim_public` and not from somewhere else, maybe previously installed with `pip install .`?

[2021-06-24 17:14] blumu commented on #23
Yes the import is loading from my source directory:
[code]
I am also using Python version 3.8.9, not sure if this matters. I'll keep trying to get a repro.

[2021-06-24 17:27] jaromiru commented on #23
The problem is definitely within the boolean library.
[code]

[code]

[2021-06-24 17:40] blumu commented on #23
I could repro but I had to first fix another bug in `environment_generation.py` where the agent was not installed on any node of the graph:

https://github.com/microsoft/CyberBattleSim/commit/e28743673e5eea8c473107df381ef54d9ffb8b71#diff-d01efcd79fb6d8316931c9a4f8a9578bc9908c4c69f2c613e606db2ebff3944f

[2021-06-24 17:44] blumu commented on #23
@jaromiru The main branch of the boolean.py package has an alternative fix for this bug. It's not yet released on PyPI though:
https://github.com/bastikr/boolean.py/pull/100/files

[2021-06-24 17:55] blumu commented on #23
@jaromiru I have just verified that the fix in branch `master` of `boolean.py` resolves the issue. You do need to remove the other workaround from `actions.py` and `model.py` otherwise you'll still get the exception. Since the fix is not release yet on PyPi it needs to be installed from github with:
[code]
I'll send a PR with a fix soon.

[2021-06-24 19:04] jaromiru commented on #23
Ouch, my bad. Forgot to mention that :-D

I'll get to test it on Monday.

[2021-06-24 19:27] #23 closed

[2021-06-24 21:40] blumu commented on #18
@jaromiru  Fair point, though contrary to what I proposed earlier the fraction should not be calculated as `#nodes_newly_discovered / #nodes_revealed_by_attack`, otherwise this could lead to different rewards depending on the attacks execution order.

For example, suppose you have two attacks A1 and A2 where:
- A1 reveals nodes 1, 2 with respective value 1, 2;
- A2 reveals node 2, 3 with respectiv

[2021-06-24 23:11] blumu commented on #18
In PR #26 that I just submitted, the intrinsic value of the newly discovered nodes gets returned as the reward.
Would this be a reasonable solution?

[2021-06-25 08:18] jaromiru commented on #18
I thought that you propose simly [c * sum(intrinsic value of newly discovered nodes], with some c < 1. That's additive and reasonable.

[2021-06-25 17:00] blumu commented on #18
@jaromiru Yes, that's what I implemented, except that currently c = 1. Also I added a fixed reward for newly discovered credentials and node properties.

[2021-06-27 10:09] Mona-byte commented on #4
Thanks for the suggestion. I used conda install -c anaconda decorator==4.3

[2021-06-28 14:12] jaromiru commented on #18
Ok, I think we can close this for now.

[2021-06-28 14:12] #18 closed

[2021-08-23 19:57] Ascrypto opened #32 "ModuleNotFound"
I had this issue when I tried to run the simulation.
"No module named 'cyberbattle'."
I tried to export the path but did not work.

[2021-08-29 06:26] ezioyan commented on #32
I added the directory to the system path and it worked:
`import sys`
`sys.path.insert(0, 'path')`

[2021-08-29 18:16] Ascrypto commented on #32
Thanks for pointing me in the right direction. For some reason, it did not work with insert(), but worked just fine with sys.path.append().

[2021-08-29 18:16] #32 closed

[2021-08-30 01:41] jonabox opened #33 "ModuleNotFoundError: No module named 'cyberbattle.agents.baseline'"
ran init.sh but I'm getting the following error:

``
  File "app.py", line 6, in <module>
    import cyberbattle.simulation.model as model
  File "<frozen zipimport>", line 259, in load_module
  File "/usr/local/lib/python3.8/dist-packages/loonshot_sim-0.1-py3.8.egg/cyberbattle/__init__.py", line 9, in <module>
  File "<frozen zipimport>", line 259, in load_module
  File "/usr/local/lib/python3.8/

[2021-09-01 23:10] blumu commented on #33
@jonabox Could you share the entire script output? I am wondering if there is any other error prior to this one leading to it. Also are you running it using system-wide python packages or using a virtual environment?

[2021-09-06 03:09] jonabox commented on #33
@blumu Unfortunately, I have since fixed it and can't share the output anymore. I was using the python virtual enviroment and was able to complete the setup by manually going through the commands in init.sh after running `$source venv/bin/activate` within the main directory.

This ocassionaly happens when I set up the repository, which I've done several times now on my Ubuntu machines. I'll make s

[2021-09-06 03:09] #33 closed

[2021-09-12 19:20] jonabox opened #38 "convert NamedTuples to @dataclass"
Hi, I'm creating a frontend wrapper for this project and noticed that NamedTuple and @dataclasses are used almost interchangeably in model.py. I was wondering why that's the case and if it would be possible to just change all NamedTuples to @dataclasses. This would make the model more consistent. I tried changing it for a couple classes and didn't notice anything breaking.

[2021-09-14 08:41] blumu commented on #38
If I recall correctly, we favor `NamedTuple` whenever possible so that the underlying data structure is guaranteed to be immutable by default. We use `@dataclasses` when mutability is required.
Replacing `NamedTuple` by `@dataclasses` may not alter the program behavior though it may prevent the type-checker from detecting potential bugs caused by mutations.

That said if that causes problems for t

[2021-09-14 19:54] jonabox commented on #38
Ahh, that's great reasoning. A big part of the project I'm working on is letting users modify generated models such as adding nodes, updating vulnerability descriptions, etc. This would be easier (albeit riskier) to do with mutable `@dataclasses` but perhaps `frozen` `@dataclasses` would strike a good balance.

Also, `@dataclasses` have been a lot easier for me to serialize into JSON as opposed to

[2021-09-25 15:43] habdullahjaved commented on #4
Thank you so much

[2021-09-25 15:43] habdullahjaved commented on #4
Thank you so much

[2021-11-18 11:36] syheliel opened #40 "Failed when using init.sh"
![image](https://user-images.githubusercontent.com/45957390/142408254-eb7edd76-58cd-427a-813a-f5e1eec8f0fc.png)

[2021-11-18 11:43] syheliel commented on #40
I think that it's better to use `./init.sh` to setup the environment in `.github/workflows/ci.yml` so that the script can be test every commit.

[2021-12-15 17:09] blumu commented on #40
@syheliel Line 2 indicates a permission issue. Could this be due to the permissions set for that directory? Or does this repro if you clone the repo in a new fresh directory? Also did you pass any parameter to `init.sh` and have you tried running it with `sudo`?

[2021-12-17 00:20] blumu commented on #38
@jonabox Have you tried the `orjson` serialization package (https://github.com/ijl/orjson/) mentioned in one of the answers to the stackoverflow article you cited? According to the doc it handles `NameTuples` correctly.

[2021-12-17 00:27] blumu commented on #40
I could not repro the reported permission issue, but I've changed ci.yml to call `init.sh` as suggested above and the script runs fine under Github Actions. I am closing the issue. @syheliel Feel free to reopen and share the full logs if you still hit this issue.

[2021-12-17 00:27] #40 closed

[2021-12-17 01:30] jonabox commented on #38
Not quite, I ended up changing `NamedTuples` into `@dataclasses()`, some of them frozen. I then added an encode method to these classes to fine-control the `json.dumps()` output. For example:

[code]
I might still try orjson, and get back with any findings, but those slight modifications have worked really well for me so far.

[2021-12-30 00:49] HANOSSAH opened #43 "mllmmnnzzas@gmail.com"

[2021-12-30 00:50] HANOSSAH opened #44 "mllmmnnzzsa@gmail.com"

[2021-12-30 02:25] HANOSSAH commented on #44
ت

[2022-02-23 08:13] fcheong283 opened #45 "unable to run toyctf.ipynb interactive"
I try running the first cell and receive the error ModuleNotFoundError: No module named 'cyberbattle'

[2022-02-25 08:49] sherdencooper opened #46 "Issues with random graph"
Hi, I am working on generating the random graph and I found some logical issues with the random graph generation design (maybe).

1. First, I think the `add_leak_neighbors_vulnerability` function in [generate_network.py](https://github.com/microsoft/CyberBattleSim/blob/main/cyberbattle/simulation/generate_network.py#L227) should not return `library` directly. Since it is a global dictionary, using

[2022-03-01 09:59] phypoh commented on #45
Not the official answer, but I think there's two ways you can solve this:

1) Add the cyberbattle folder to your path in your notebook (it's located in the root directory of the repo)
2) Run `pip3 install -e CyberBattleSim` one folder outside the repo.

[2022-03-03 09:14] fcheong283 commented on #45
Thank you for this! The second option seemed to fix it however I now run into another error on cell 15. The ValueError says 'mime type rendering requires nbformat>=4.2.0 but it is not installed' Even though I had 4.4.0 installed. I upgraded to 5.1.3 however the error still occurs. Any ideas?

[2022-03-03 17:56] blumu commented on #45
@fcheong283 You want to run the `init.sh` script first to install all the required components.
For the second error you get, have you tried reinstalling `ipykernel` as suggested at https://stackoverflow.com/questions/66557543/valueerror-mime-type-rendering-requires-nbformat-4-2-0-but-it-is-not-installed ?

[2022-03-03 17:58] blumu commented on #46
@sherendcooper Thanks for reporting. Could you share a diff or a PR so we can review the change you are proposing?

[2022-03-03 18:21] blumu commented on #46
For 2. That's indeed a bug. The fix is to generate the nodes and services first with vulnerabilities set to empty. Then loop again over the nodes to generate and assign vulnerabilities for each node.

[2022-03-03 19:40] sherdencooper commented on #46
I am not sure whether the problem1 is raised by the difference in the python version, but in my running without deepcopy, the generated graph does not have the vulnerabilities outcomes as expected. By debugging, I found that the code does not generate new `library` as it was expected to. All nodes are assigned with the same `library` address. I made a toy example to explain the issue I found. Coul

[2022-03-03 19:49] blumu commented on #46
@sherdencooper I see! There is indeed a bug then, it seems that the empty library `{}` defined as the default value for the optional parameter is shared across all calls to the function! So a possible fix is set the default to None instead (library=None) and add the code:
[code]

[2022-03-07 06:44] phypoh opened #47 "Convert action to string"
When I print `action` from the following:
[code]

I get something like: `{'remote_vulnerability': array([2, 5, 5])}`, which doesn't really give me any information on what the remote vulnerability is. Is there any way to view a pretty-print version of the action, such as the `model.VulnerabilityID`?

[2022-03-27 14:38] fcheong283 commented on #45
I have tried running the init.sh script however there's a syntax error in line 6:

 pushd "$(dirname "$0")"
          ^
SyntaxError: invalid syntax

[2022-03-28 01:40] blumu commented on #45
@fcheong283 Which shell are you using? Have you tried running it under the `bash` shell?

[2022-03-29 15:14] Dawn-RL opened #48 "data['kind'] missing & unexpected red agent behaviour"
Hi,

I have modified the environment to include additional nodes / vulns / attack vectors, keeping things mostly the same with respect to environment generation; graph = graph.add_edge[(s, t), (port)] which models fine and AIGym seems happy with the change. The only difference in network generation is that I am using an erdos-renyi generator instead of the nx.stochastic_block_model included in env

[2022-03-29 16:42] blumu commented on #48
@Dawn-RL Are you hitting these bugs after making your changes or are you also able to repro on the main branch?
Could you provide a small repro? That would help us investigate. Since the bug is intermittent you may have to wrap your repro in a loop to run until the bug surfaces.
Also, if the two bugs are unrelated, I suggest you file a separate bug for the second one.

[2022-03-30 15:11] Dawn-RL commented on #48
Hi Bluma,

Thanks for the quick reply! I have added a repo: https://github.com/Dawn-RL/CBS_Bug that demonstrates the second issue. I believe both issues are connected but cannot confirm. Jupyter notebook was too big to render properly so have included 3 screen captures showing what the output is. Happy to provide further info if needed.

Thanks

[2022-04-15 14:33] snowyday opened #52 "No attribute 'rewardplot_with'"
Hi,

I have three errors to check my environment.

After I set up the dev environment, I ran the following command:
[code]

# 1st error. ModuleNotFoundError: No module named 'asciichartpy'
[code]

To solve it, I installed 'asciichartpy'.

# 2nd error. ModuleNotFoundError: No module named 'cyberbattle.agents.baseline'
[code]

I stored "\_\_init\_\_.py" in "./cyberbattle/agents/baseline".

# 3rd err

[2022-04-19 22:55] blumu commented on #52
@snowyday Have you tried running the `init.sh` script to initialize your environment and install the python package dependencies?

[2022-04-21 07:17] #47 closed

[2022-04-21 11:55] snowyday commented on #52
Thanks for letting me know. I tried the `init.sh`.

To clarify this issue, I also tried your Docker, and got `AttributeError: 'Namespace' object has no attribute 'rewardplot_with'`.

[code]

[code]

Intermediate logs were skipped.

[code]

[2022-04-26 20:42] blumu commented on #52
@snowyday Did running init.sh fix the first two issues? It should since running this command should installed all the packages you are missing. In particular package `asciichartpy` is properly defined in [/requirements.dev.txt](https://github.com/microsoft/CyberBattleSim/blob/245474068045858351765f81278c1c3cee869578/requirements.dev.txt) If that's the case then I propose to close this issue. If no

[2022-04-26 21:13] blumu commented on #48
@dawn-RL If you cannot repro the bug on our `main` branch then it might be caused by your own changes. I suspect it's because you are adding nodes to the network graph using `h1.add_node` without specifying the 'data' field. See here to see how it's done in the code:
https://github.com/microsoft/CyberBattleSim/blob/33fd6643a76ec4deca771b01f3a757710649042c/cyberbattle/simulation/model.py#L378

You

[2022-04-26 21:15] blumu commented on #45
@fcheong283 I am closing it for now. Please try running the init.sh script from a Linux bash shell. If that stills reproes you can reopen the issue and share your logs/errors.

[2022-04-26 21:15] #45 closed

[2022-05-05 11:34] marceljki opened #53 "Typo in run.py"
Hi. there is a typo in run.py at line 120.
It should be named rewardplot_width instead of rewardplot_with.

[2022-05-11 05:41] snowyday commented on #52
@blumu
All issues have been resolved! Thank you for your advice.

[2022-05-11 05:41] #52 closed

[2022-05-11 17:11] Dawn-RL commented on #48
Hi Blumu,

Fork can be found [here](https://github.com/Dawn-RL/CyberBattleSim-fork) with 2 branches, main and second_bug_branch.

Main is a fresh fork of your repo, showcasing that in 'notebooks/Random_Network_Kind_Error.ipynb' we get the data['kind'] error on new installation. This displayed the error on the first run, then ran 3 times without error, and finally the error came back on the fourth

[2022-05-11 18:12] blumu commented on #48
@Dawn-RL Thanks for doing this, it's helpful! I just took a quick look at it. I think bug 1 may be located in function:

https://github.com/microsoft/CyberBattleSim/blob/9691fa83e2b2012fe81e2e7a3e9db19efe1a6e86/cyberbattle/simulation/generate_network.py#L87

When the environment graph gets constructed, it is first initialized by copying the traffic graph using `nx.relabel_nodes`. After that the no

[2022-05-12 08:16] Dawn-RL opened #54 "Red Agent Making Illegal Moves"
Hi,

Just double checking - there may be a small bug with the red agent choosing invalid actions from the action space. Repro can be found [here](https://github.com/Dawn-RL/CyberBattleSim-fork/tree/second_bug_branch) - second_bug_branch - with an example case shown in 'notebooks/Random_Network_Invalid_Move.ipynb'.

Additional nodes are set up with create_node_data_two, such that the firewall conf

[2022-05-19 20:05] forrestmckee opened #55 "init.sh doesn't work"
I've tried to clone the repo and setup CyberBattleSim on a windows machine running WSL2 with Ubuntu 20.04.3 LTS as well as a linux machine running Ubuntu 20.04.02 LTS. I follow the instructions in the readme and simply run `./init.sh`

This results in a venv being created and the libraries being downloaded, but seemingly not all are installed. There are several warnings and errors that occur durin

[2022-05-21 05:24] blumu commented on #55
@forrestmckee Could you share the warnings and errors that you get?
The CI build passed on the latest push to master (https://github.com/microsoft/CyberBattleSim/runs/5855900109?check_suite_focus=true) so I am guessing it's caused by a regression in some dependency.

[2022-05-21 11:53] forrestmckee commented on #55
@blumu of course! This is from the WSL2 install attempt:

[code]

[2022-05-23 16:54] blumu commented on #55
@forrestckee I think it's caused by an interference with the system-wide installation of `python3.8` from the PATH. Try this fix and let me know if it works: https://github.com/microsoft/CyberBattleSim/pull/56

[2022-05-23 17:06] blumu commented on #55
@forrestmckee I could repro and verify that the fix works. Feel free to reopen if the fix does not work for you.

[2022-05-23 17:06] #55 closed

[2022-05-23 17:10] #53 closed

[2022-05-23 18:45] forrestmckee commented on #55
This seems to have fixed what I was running into. Thanks!

[2022-05-23 18:46] forrestmckee commented on #55
@blumu This seems to have fixed what I was running into.
Thanks!

[2022-05-23 20:54] blumu commented on #48
@Dawn-RL Could you try branch [wiblum/48](https://github.com/microsoft/CyberBattleSim/tree/wiblum/48) and let me know if it fixes issue 2.?

[2022-05-23 21:03] blumu commented on #54
@Dawn-RL As you suggested I think it's due to the fact that you are calling `__mark_node_as_owner`. If I understand correctly the intent of the `LeakyGuyId` you are implementing it should only leak the existence of the node. If that's what you want to do then you can implement this by calling instead: `__mark_node_as_discovered`.

[2022-05-23 21:18] blumu commented on #46
@sherdencooper Reopening this bug. I think you might have closed it by accident. I've create a PR to fix the first part of the bug.

[2022-05-23 22:36] blumu commented on #46
@sheredencooper Fix proposed in https://github.com/microsoft/CyberBattleSim/pull/58 Give it a try and let me know if it works for you.

[2022-05-24 06:02] 1633232731 opened #60 "Issues about installation"
Thank you for sharing this wonderful job! I met some problem while installation: I tried to run init.sh on a shared server which ubuntu version is 18.04 so it reminded me to use apt to download something, however I do not have root authority or sudo account. What should I do now?

[2022-05-24 17:37] blumu commented on #60
@1633232731 I would try running the installation steps within a Docker container. That way you should not need any special permission to install system-wide component on the server. For that you can try the instructions at https://github.com/microsoft/CyberBattleSim#recreating-the-docker-image

[2022-05-24 21:41] sherdencooper commented on #46
Thanks for your fix, it works for me! BTW, I am doing some research work about RL and using your simulator. It's the greatest cyber attack simulator I have found! When I was using your simulator, I found something not so reasonable about the reward design.

1. In [here](https://github.com/microsoft/CyberBattleSim/blob/wiblum/46/cyberbattle/_env/cyberbattle_env.py#L1070), the reward at each step is

[2022-05-25 20:43] blumu opened #62 "Negative rewards and rewarding new successful attack to already owned nodes"
Thanks for your fix, it works for me! BTW, I am doing some research work about RL and using your simulator. It's the greatest cyber attack simulator I have found! When I was using your simulator, I found something not so reasonable about the reward design.

1. In [here](https://github.com/microsoft/CyberBattleSim/blob/wiblum/46/cyberbattle/_env/cyberbattle_env.py#L1070), the reward at each step is

[2022-05-25 20:44] #46 closed

[2022-05-26 09:09] Dawn-RL commented on #54
Hi Blumu,

Ideally we would like it to own the node automatically, so I think mark_node_as_owned should work. It just seems to me like the action mask is missing some verification when selecting from a pool of valid moves.

Cheers

[2022-06-08 02:27] blumu commented on #54
I see, so the vulnerability name `knows_on_capture` might have misled me due to the terminology used in our simulation (`known` for us means `discovered` as opposed to `owned`).

I looked at the notebook (Thanks for putting this together by the way!) and I notice that nodes 4, 6 and 14 all have the `knows_on_capture` vulnerability set to grant access to respectively nodes 15, 16, 17.

![image](htt

[2022-06-08 16:15] blumu commented on #54
@Dawn-RL The main branch has some changes to avoid confusion between the node internal IDs and the node indices used by the agent. In particular when pretty printing the rewarded actions it now shows the actual node ID from the environment graph. It also prints the vulnerability name. I've rebased your branch on it and rerun your notebook: https://github.com/microsoft/CyberBattleSim/blob/wiblum/da

[2022-06-08 20:04] blumu commented on #62
@sherdencooper These are great points. Regarding 1.: that's correct, clipping negative rewards was a recommendation made by a RL researcher who advised the project. It did help with the learning as you pointed out. That said your proposed changes make sense and we'd be happy to integrate them if you were to submit a PR for it.
Question: You are seeing a clear improvement for epsilon greedy with yo

[2022-06-11 10:49] Dawn-RL commented on #48
Hi Blumu,

Looks good so far, much appreciated!

Cheers

[2022-06-23 17:23] forrestmckee opened #68 "Discovered Node Properties Don't Have to be Revealed for Property Dependent Precondition?"
I'm trying to setup an environment that first requires the agent to probe a remote system to learn a property. That property is a precondition to a different remote exploit on the system. In a variant of the manually solved notebook, I can bypass the precondition even though the property has yet to be discovered.

In other words, vulnerability A reveals PROPERTY and PROPERTY is the precondition to

[2022-06-27 17:57] blumu commented on #68
The vulnerability `precondition` in a vulnerability library offers a convenient way to assign vulnerabilities to the network nodes. It's meant to be a sufficient condition for the vulnerability to _exist_ on a given node. It's not a necessary condition for it to be known to be exploited by the agent. This idea is to be able to express statements like "every node running Apache Version x suffers fr

[2022-07-01 12:46] #68 closed

[2022-07-01 19:24] blumu commented on #68
@forrestmckee You may also be able to enforce the ordering `A->B` through the use of credentials, that is representing the knowledge of `PROPERTY` as the discovery of some specific credentials representing that property. Exploiting the vulnerability `A` would leak the credentials to the attacker agent; the agent would then need to use those credentials to connect/own another node.

[2022-07-05 03:37] ammohamedds opened #69 "Maximum number of iterations per episode"
Hello: Thanks for this interesting and beneficial tool
In case of
iteration_count = 150 (for example)  and gymid = "CyberBattleTiny-v0"

I found that sometimes while implementing your DQL agent ,and my customized DQL and other agents. The maximum number of iterations in each episode is not 150 iterations for my agents, while when I implement your DQN agent, I find that the iterations are always 15

[2022-07-05 03:48] ammohamedds opened #70 "Qt platform issue in benchmark"
When I run notebook_benchmark in jupyter it works fine, plots of benchmark appear, while executing it on pycharm, the below error appears due to a Qt platform issue even though I've reinstalled it several times and the agents are trained and all codes are implemented successfully except only ploting part.

##################### Error#############################
QObject::moveToThread: Current thre

[2022-07-08 15:41] forrestmckee opened #71 "PrivilegeEscalation marks nodes as owned, but doesn't reward agent with node value"
Is it correct behavior to be able to "own" a node via `PrivilegeEscalation`, but not be rewarded for that node's value?
It [looks like](https://github.com/microsoft/CyberBattleSim/blob/main/cyberbattle/simulation/actions.py#L319) the node value is never added to the reward [unless](https://github.com/microsoft/CyberBattleSim/blob/main/cyberbattle/simulation/actions.py#L528) it was owned via `conne

[2022-07-08 18:19] forrestmckee commented on #71
I've created a quick [example](https://github.com/forrestmckee/CyberBattleSim/blob/privilege_escalation_example/notebooks/privilege_escalation_example.ipynb) that demonstrates what I'm talking about.

[2022-07-08 19:33] blumu commented on #71
Thank you for sharing the repro! So that's indeed a bug. The code that's handling remote exploits does not include the value of the node in the returned reward, it only accounts for discovered nodes:

https://github.com/microsoft/CyberBattleSim/blob/41a57538120e9e1e54dcc84d6a458ae74af5d4ca/cyberbattle/simulation/actions.py#L353-L354

We should add the value of any owned node, just like we do for t

[2022-07-08 19:54] blumu commented on #71
@forrestmckee You can cherry pick the fix from this branch:

https://github.com/microsoft/CyberBattleSim/tree/wiblum/71

It will need some more testing before merging into the `main` branch, but I've verified that it fixes the problem on your repro notebook. Let me know if that works for you.

[2022-07-11 05:59] #70 closed

[2022-07-12 04:38] ammohamedds commented on #70
The issue is related to qt in Linux, so if you use pycharm,, delete/remove plugins from cv2 folder
/venv/lib/python3.7/site-packages/cv2/qt/plugins

[2022-07-14 12:16] forrestmckee commented on #71
Sorry for the delay.
Yes, this fixed the issue for me. Thanks!

[2022-07-15 01:39] blumu commented on #69
The total number of simulated iterations depends on the target goal configured for the attacker and defender. As soon as the goal is reached the simulation gets terminated. Take a look here for examples on how to set the target goal when registering the gym environment:

https://github.com/microsoft/CyberBattleSim/blob/139598bec623e568a742e5b93658da7f162bb667/cyberbattle/__init__.py#L88

See docum

[2022-07-18 16:04] forrestmckee opened #73 "generate_random_traffic_network intended behavior?"
For [generate_random_traffic_network](https://github.com/microsoft/CyberBattleSim/blob/main/cyberbattle/simulation/generate_network.py#L30) in generate_network.py, the resulting network has less nodes than `n_clients`. Is this intentional?
I believe the reason is that when building up `edge_labels` , the datatype is a set (which makes sense). This means that duplicate edges can't exist. However, w

[2022-08-09 23:29] #71 closed

[2022-08-09 23:33] blumu commented on #69
@ammohamedds I am closing this issue for now. Feel free to reopen if the answer above does not address your question.

[2022-08-09 23:33] #69 closed

[2022-09-09 21:13] blumu opened #78 "Regression: node incorrectly intepreted as previously owned"
The following call to `__is_node_owned_history` has the unfortunate side effect of updating the field containing the time of last ownership for the node. Subsequently this causes the reward calculation code to interpret the node as already owned, thus stealing future rewards deserved for the attacker when actually taking ownership of the node:
 https://github.com/microsoft/CyberBattleSim/blob/e28a

[2022-09-09 21:27] #78 closed

[2022-09-16 22:55] ko19af opened #81 "How To Run"
Hello,

I want to experiment with your CyberBattleSim, but I do not understand how to run the code. I followed the steps outlined on the GitHub page but could not get the program to run. Can you provide a detailed explanation of how I can run this code in WSL or a python IDE, such as PyCharm, or if possible both, in a tutorial or documentation that clearly explains how to run the program?

I would

[2022-10-06 12:42] kvas7andy commented on #81
Hello,

You can check wiki of this repository, related to your question, and setup is not close to your quesiton except VSCODE is used, not PyChram.

https://github.com/microsoft/CyberBattleSim/wiki/Setting-up-WSL-environment-(Linux-on-Windows)

[2022-10-06 16:14] kvas7andy opened #87 "Correction of benchmark results"
Hi everyone,

Found several bugs while checking the code of ipynb notebooks with benchmark results for 3 environments [TinyToy](https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/notebooks/notebook_benchmark-tiny.ipynb), [ToyCTF](https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/notebooks/notebook_benchmark-toyctf.ipynb

[2022-10-06 16:40] blumu commented on #87
@kvas7andy Thanks for filing this issue with a detailed explanation. Could we split this into three separate issues to facilitate the discussion?

[2022-10-06 16:45] kvas7andy commented on #87
Hi @blumu surely, lets split into three. Only thing is I will get back to discussion tomorrow.

[2022-10-07 09:43] kvas7andy opened #89 "Jupyter notebook run issue from docker container"
Hi all,

I have encountered issue when running jupyter notebook inside docker container. While forwarding the port from docker container, I still cannot connect to it from browser. It does not work both on local machine and remote server I use.

Sample command is:

[code]

[2022-10-07 16:06] blumu commented on #89
Are you using remote development into WSL or SSH from VSCode? If so you may want to try adding the port redirections manually in VSCode under the 'Ports' tab. I used to have the same problem and that fixed it for me.

[2022-10-07 17:06] kvas7andy commented on #89
I am using VSCode and your workaround seems working for me also. I was thinking, that because standard way is to redirect port form container with `nvidia-docker run -p` other users of simulator may have issues in working with docker container, so I wanted to mention this issue for reference.

Did you find the source of the issue? Does that mean there is any restriction on port forwarding made wit

[2022-10-13 14:45] kvas7andy opened #90 "Action_space dimensions formally too large"
Dear all,

With latest update, which allowed to increase the number of maximum nodes using kwargs dict inside registry(...) function, the default parameters are 100 nodes, https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/cyberbattle/_env/cyberbattle_env.py#L390, which makes action_space for local, remote and connect to be especially large.
Although, that do

[2022-10-29 12:04] Screamer-Y opened #91 "Play the environment with other RL algorithms"
Hi everyone,
I'm interested in how the environment in this project performs under other reinforcement algorithms. But I'm new to reinforcement learning and not yet capable of implementing other reinforcement learning algorithms on my own.
I noticed that algorithms such as Q-Learning and DQN have been implemented in the baselines directory. And the definition of the environment is quite different f

[2022-10-29 12:04] 2twentytwo2 commented on #91
您好，您的邮件我已收到，
看到后，我会立即回复您。
This is an automatic reply, confirming that your e-mail was received.Thank you

[2022-11-02 01:42] Screamer-Y commented on #91
Hi everyone,
I noticed that PR(#86) already has support for stable-baselines3 and gives the corresponding use cases in the notebooks folder, which is of greate help. Sorry for missing that before...

[2022-11-02 01:42] #91 closed

[2022-11-08 12:25] Screamer-Y opened #92 "A question about 'pretty_print_internal_action'"
Hi,

When I try to use the member function 'pretty_print_internal_action' of CyberBattleEnv, I found that the return for 'connect' action is always "connect(invalid)", even when I use member function 'sample_valid_action' to get a valid 'connect' action. So I check the code and found the following paragraph:

[code]

Is there an error in line 5? I suppose the '<' sign shoud be changed to '>=', whi

[2022-11-08 17:13] Screamer-Y commented on #92
Glad to be of help, I'll close this issue.

Have a nice day!

[2022-11-15 13:29] kvas7andy commented on #91
Hi, @Screamer-Y, actually that is a interesting topic for me to investigate. If you will have any problems or you find any literature using this simulator, feel free to share, and I can do the same if you are interested.

I am testing stable-baselines now and have errors with [https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/notebooks/stable-baselines-agent

[2022-11-15 15:23] Screamer-Y commented on #91
Hi, @kvas7andy , it's glad to know you're interested in this topic too.
Now I'm working on [https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/cyberbattle/_env/flatten_wrapper.py](url).
My goal is to modify the 'action_space' from a 'spaces.MultiDiscrete' to a 'spaces.Discrete'. I do this because in stable-baselines3, if you want to use the value-based RL alg

[2022-11-15 16:29] forrestmckee commented on #91
@Screamer-Y, did you get the stable-baselines example script to work? For me it runs, but the agent never learns anything using A2C or PPO.

[2022-11-16 02:20] Screamer-Y commented on #91
Hi @forrestmckee ,
Yes, From my side it works properly, I just run the code in [https://github.com/microsoft/CyberBattleSim/blob/main/notebooks/stable-baselines-agent.py](url) without any modification.

[2022-11-16 02:58] forrestmckee commented on #91
@Screamer-Y are you using Linux, WSL, or Docker?

I can get the script you referenced to run, but the agent never makes it off of the foothold node regardless of the number of time steps I set. I'm also getting warnings that the agent is trying to access an invalid index.

[2022-11-16 08:25] Screamer-Y commented on #91
Hi @forrestmckee ,
I'm using Ubuntu Server 20.04 LTS. I ran the script again just now and only made one successful connect action with 10000 time steps. I think the problem is due to the way 'action_space' defined in ['flatten_wrapper'](https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/cyberbattle/_env/flatten_wrapper.py), which contains all attacks, even if

[2022-11-23 13:19] kvas7andy opened #94 "Making reward non-zero, what is the reason?"
Checking the code and why there is no negative reward due to penalties or repetition I have noticed, that code `reward = max(0., reward)` makes it always non-zero [here](https://github.com/microsoft/CyberBattleSim/blob/4fd228bccfc2b088d911e27072a923251203cac8/cyberbattle/_env/cyberbattle_env.py#L1121).

What was the reason to make all rewards non-zero?

[2022-11-24 04:26] blumu commented on #94
This was a recommendation from RL experts. It was suggested that negative rewards could prevent convergence for some RL algorithms. We could make this configurable. Let us know if you have examples showing better results without the clipping.